<section class="login">
    <div class="col-lg-6 col-md-8 col-sm-12 col-12 ">
        <div class="login__form">
            <div class="login__form-inner">
                <div class="px-2">
                    <a class="link d-flex align-items-baseline mb-2" [routerLink]="['..', 'login']"> <fa-icon [icon]="faChevron" class="mr-2"></fa-icon> voltar</a>
                    <h3 class="mb-1">Esqueci minha senha</h3>
                    <p>Enviaremos um link de confirmação para o e-mail informado abaixo</p>
                </div>
                <br>
                <form>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                            <input type="email" email class="form-control" id="email" name="email" #email="ngModel"
                                [(ngModel)]="login.email" placeholder="example@gmail.com" required>
                            <label for="email">
                                <span>E-mail <span class="text-danger">*</span></span>
                            </label>

                            </div>
                            <div *ngIf="email.errors != null && email.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="email.errors['required']">Esse campo é obrigatório</p>
                                <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <button type="submit" class="btn btn-primary w-100 py-2">Recuperar senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-12 login__bg"
        style="background-image: url(./../../../../assets/img/login-bg.jpg);">
        <img src="./../../../../assets/img/logo1-small-white.png">
    </div>
</section>