<header class="header">
    <button class="btn header__aside-toggle" (click)="toggleMenuAside()">
        <span>
          <fa-icon [icon]="faBars"   *ngIf="!this.menuLateralOpen"></fa-icon>
          <fa-icon [icon]="faTimes" *ngIf="this.menuLateralOpen"></fa-icon>
        </span>
      </button>
    <div class="header__logo">
        <img src="./../../../assets/img/logo.png" alt="Logo Crono Hair">
    </div>
    <div class="header__userLogado">
        <div class="header__userLogado-content" [class.header__userLogado-submenu--open]="userLogadoOpen"
            (click)="toggleMenuHeader()">
            <div class="header__userLogado-img" style="background-image: url(./../../../assets/img/user.png);">
            </div>
            <div class="header__userLogado-text">
                <p><strong>{{userLogado?.nome}}</strong></p>
                <p><small>{{userLogado?.email}}</small></p>
            </div>
        </div>
        <div class="header__userLogado-submenu" [class.header__userLogado-submenu--open]="userLogadoOpen">
            <p class="header__userLogado-submenu-link">Welcome</p>
            <a class="header__userLogado-submenu-link">
                <span style="margin-right: 8px;">
                    <fa-icon [icon]="faIdCard"></fa-icon>
                </span> Meus dados
            </a>
            <a class="header__userLogado-submenu-link" (click)="sair()">
                <span style="margin-right: 8px;">
                    <fa-icon [icon]="faSignOut"></fa-icon>
                </span> Sair
            </a>
        </div>
    </div>
</header>