.main {
  /* width: calc(100vw - 260px); */
  width: 100vw;
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;
  z-index: 1;
  transition: 0.2s;
  min-height: 100vh;
  box-sizing: border-box;
}

.main.aside--close {
  /* width: calc(100vw - 67px); */
  transition: 0.5s;
  transition-delay: 0.2s;
}

.main-content {
  background-color: #eceef3;
  padding: 30px;
  min-height: calc(100vh - 60px - 34px);
}

.page-title h3 {
  color: #5d5d5d;
  text-transform: uppercase;
  font-family: 'Bold';
  font-size: 19px;
  margin: 0;
}

.page-title p {
  font-size: 14px;
  font-family: 'Light';
  color: #888484;
  margin: 0;
}

.page-title p svg {
  font-size: 11px;
  color: #b3864c;
}
