<section class="login">
    <div class="col-lg-6 col-md-8 col-sm-12 col-12 ">
        <div class="login__form">
            <div class="login__form-inner">
                <div class="px-2">
                    <a class="link d-flex align-items-baseline mb-2" [routerLink]="['..', 'login']">
                        <fa-icon [icon]="faChevron" class="mr-2"></fa-icon> voltar
                    </a>
                    <h3 class="mb-1">Me cadastrar</h3>
                    <p>Insira seus dados nos campos abaixo para efetuar seu cadastro</p>
                </div>
                <br>
                <form>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input type="nome" class="form-control" id="nome" name="nome" #nome="ngModel"
                                    [(ngModel)]="login.nome" placeholder="   " required>
                                <label for="nome">
                                    <span>Nome completo <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="nome.errors != null && nome.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="nome.errors['required']">Esse campo é obrigatório</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input type="celular" celular class="form-control" id="celular" name="celular"
                                    #celular="ngModel" [(ngModel)]="login.celular"
                                    mask="(00) 0000-0000||(00) 0.0000-0000" [hiddenInput]="false"
                                    placeholder="(11) x.0000-0000" required>
                                <p>{{celular.value}}</p>
                                <label for="celular">
                                    <span>Telefone/Celular <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="celular.errors != null && celular.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="celular.errors['required']">Esse campo é obrigatório</p>
                                <p class="text-danger" *ngIf="celular.errors['mask']">Telefone/celular inválido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input type="email" email class="form-control" id="email" name="email" #email="ngModel"
                                    [(ngModel)]="login.email" placeholder="example@gmail.com" required>
                                <label for="email">
                                    <span>E-mail <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="email.errors != null && email.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="email.errors['required']">Esse campo é obrigatório</p>
                                <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input [type]="showHide.value ? 'password' : 'text'" class="form-control" id="password"
                                    name="password" #password="ngModel" [(ngModel)]="login.password"
                                    placeholder="******" required>
                                <label for="password">
                                    <span>Senha <span class="text-danger">*</span>
                                    </span>
                                </label>
                            </div>
                            <div *ngIf="password.errors != null && password.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="password.errors['required']">Esse campo é obrigatório</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input [type]="showHide.value ? 'password' : 'text'" class="form-control"
                                    id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                                    [(ngModel)]="login.confirmPassword" placeholder="******" required>
                                <label for="confirmPassword">
                                    <span>Confirmar Senha <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="confirmPassword.errors != null && confirmPassword.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="confirmPassword.errors['required']">Esse campo é
                                    obrigatório</p>
                            </div>
                            <p class="text-danger p-2" *ngIf="password.value != confirmPassword.value">Senhas não são
                                iguais</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" name="showHide" id="showHide" #showHide="ngModel" ngModel
                                    [value]="true">
                                <label for="showHide" class="ml-2">
                                    <span *ngIf="showHide.value">Exibir</span>
                                    <span *ngIf="!showHide.value">Esconder</span> senha </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group form-floating col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <button type="submit" class="btn btn-primary w-100 py-2">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12 col-12 login__bg"
        style="background-image: url(./../../../../assets/img/login-bg.jpg);">
        <img src="./../../../../assets/img/logo1-small-white.png">
    </div>
</section>