@font-face {
  font-family: Light;
  src: url(./assets/fonts/Nunito-Light.ttf)
}

@font-face {
  font-family: Regular;
  src: url(./assets/fonts/Nunito-Regular.ttf)
}

@font-face {
  font-family: Italic;
  src: url(./assets/fonts/Nunito-Italic.ttf)
}

@font-face {
  font-family: SemiBold;
  src: url(./assets/fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Bold;
  src: url(./assets/fonts/Nunito-Bold.ttf)
}

@font-face {
  font-family: ExtraBold;
  src: url(./assets/fonts/Nunito-ExtraBold.ttf)
}

@font-face {
  font-family: Black;
  src: url(./assets/fonts/Nunito-Black.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Regular;
  color: #5b626d;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #b37c34;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #996926;
}

::-webkit-scrollbar-track {
  background: #902c2c00;
  border-radius: 0px;
}

a:focus,
button:focus,
a:hover,
button:hover {
  outline: none;
  color: #fff;
  text-decoration: none;
}

button,
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.bg-blue,
.btn-blue {
  background-color: #1d2735;
  color: #fff;
}

.bg-yellow,
.btn-yellow {
  background-color: #a96d20;
  color: #fff;
}

.btn-blue:focus,
.btn-yellow:focus,
.btn-blue:active,
.btn-yellow:active,
.btn-blue:hover,
.btn-yellow:hover {
  outline: none;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 48%);
  color: #fff;
}

.ng-dirty.ng-invalid .p-dropdown,
.ng-dirty.ng-invalid p-inputtext,
p-inputmask.ng-dirty.ng-invalid .p-inputtext,
.form-control.ng-touched.ng-invalid {
  border-color: #f44336;
  box-shadow: none;
  color: #f44336;
  background-color: #fdf4f4;
}

.ng-dirty.ng-valid .p-dropdown,
.ng-dirty.ng-valid p-inputtext,
p-inputmask.ng-dirty.ng-valid .p-inputtext,
.form-control.ng-touched.ng-valid {
  border-color: green;
  box-shadow: none;
  background-color: #f2fff2;
}

button.btn-toggleRowMenu {
  color: #1d2735;
}

.tableMenu__menu {
  position: absolute;
  background-color: #1d2735;
  display: flex;
  flex-flow: column;
  padding: 5px 0;
  top: 70%;
  right: 10px;
  min-width: 100px;
  text-align: center;
  z-index: 1;
}

.tableMenu-item {
  padding: 5px 13px;
}

td {
  position: relative;
}

span.arrowMenu {
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-100%);
  height: 12px;
  font-size: 30px;
  line-height: 0;
}

.tableMenu-item:hover {
  background-color: #2c3a4c;
}

tr.selected {
  position: relative;
}

.card {
  border: none;
}

.card-header {
  flex-flow: wrap;
  border-bottom: none;
}

.modal {
  display: block;
  width: 100vw;
  height: 100vh;
}

.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000b3;
  opacity: 0;
  transition: .5s;
}

.modal--open .modal__bg {
  opacity: 1;
  transition: .5s;
}

.modal__inner {
  width: 90%;
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 00%;
  transform: translate(-50%, -100%);
  transition: .6s;
}

.modal--open .modal__inner {
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .6s;
}

.modal__inner.delete {
  max-width: 600px;
  top: 0%;
}

.modal--open .modal__inner.delete {
  top: 40%;
  transform: translate(-50%, -50%);
  transition: .6s;
}

.modal .card-body {
  max-height: 60vh;
  overflow-y: auto;
}

.modal .modal-header,
.modal .card-header {
  background-color: #1b1f24
}

.modal .card-header .page-title p,
.modal-header .page-title p {
  color: #ffffff;
  margin: 0;
}

.page-title p {
  font-size: 14px;
  font-family: 'Light';
  color: #5d5d5d;
}

.page-title p svg {
  color: #a96d20;
}

.page-title h3 {
  color: #5d5d5d;
  text-transform: uppercase;
  font-family: 'Bold';
  font-size: 19px;
  margin: 0;
}

.modal .page-title p,
.modal .page-title h3 {
  color: #fff;
  font-family: 'Regular';
}

.btn {
  padding: 4px 11px;
}

td.actions-column {
  text-align: right;
}

.toggleButttonList {
  color: #2f353e;
  transition: .3s;
  margin-right: 15px;
}

.toggleButttonList:hover {
  color: #2f353e;
}

.actionsList {
  position: absolute;
  min-width: 140px;
  right: 0;
  top: 90%;
  padding: 10px 0;
  background-color: #fff;
  border: 1px #e2e2e2 solid;
  box-shadow: 2px 2px 12px -6px #000000;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.actionsList.actionsList--open {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.actionsList-item {
  padding: 5px 15px;
  display: block;
  color: #1d2735;
}

.actionsList-item:hover {
  background-color: #f1f1f1;
  color: #1d2735;
}

span.arrowMenu {
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-100%);
  height: 12px;
  font-size: 30px;
  line-height: 0;
  color: white;
}

p.error {
  margin-bottom: 0;
}

.card {
  box-shadow: 4px 4px 9px 0px #00000012;
}

.table .nowrap th,
.table .nowrap td {
  white-space: nowrap;
}

.table .nowrap th,
.table .nowrap td {
  white-space: nowrap;
}

.p-datatable .p-datatable-header .p-input-icon-left {
  display: block;
}

.p-datatable .p-datatable-header .p-inputtext {
  width: 100%;
  display: block;
  font-family: 'Bold';
}

.p-datatable .p-datatable-header {
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
  font-family: 'SemiBold';
}

.p-datatable .p-datatable-thead>tr.thead>th {
  background-color: #1d2735;
  color: #fff;
  padding: .75rem;
  border-color: #1d2735;
}

.p-datatable .p-datatable-thead>tr.filters>th {
  background: #b37c34;
  border-color: #b37c34;
  color: #fff;
  padding: 8px 10px;
}

.p-datatable .p-datatable-thead>tr.filters>th .p-column-filter-row .p-column-filter-menu-button,
.p-datatable .p-datatable-thead>tr.filters>th .p-column-filter-row .p-column-filter-clear-button {
  color: #fff;
}

.p-datatable .p-datatable-thead>tr.filters>th .p-column-filter-row .p-column-filter-menu-button-active,
.p-datatable .p-datatable-thead>tr.filters>th .p-column-filter-row .p-column-filter-menu-button:hover,
.p-datatable .p-datatable-thead>tr.filters>th .p-column-filter-row .p-column-filter-menu-button-active:hover {
  color: #1d2735;
  -webkit-text-stroke-width: medium;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #b37c34;
  color: #fff;
}

.p-datatable .p-datatable-tbody>tr>td.actions-column {
  text-align: right;
  padding: 1rem 0;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover,
.p-datatable .p-sortable-column.p-highlight:hover,
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  background-color: #1d2735;
  color: #ffffff;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon,
.p-datatable .p-sortable-column:focus,
.p-datatable .p-sortable-column.p-highlight:focus,
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  box-shadow: none;
  color: #fff;
}

.p-datatable .p-datatable-loading-overlay {
  background-color: #eceef3;
  color: #ff9100;
}

.p-datatable .table,
.p-datatable {
  position: relative;
}

.p-datatable .table .thead th,
.p-datatable .thead th,
.table .thead th {
  position: sticky;
  top: 60px;
  z-index: 1;
}

.table {
  position: relative;
}

.table thead th {
  color: #5b626d;
  font-family: 'Bold';
}

.table tr th:first-child,
.table tr td:first-child,
.p-datatable .p-datatable-thead>tr>th:first-child,
.p-datatable .p-datatable-tbody>tr>td:first-child,
.p-datatable .p-datatable-thead>tr.thead>th:first-child,
.p-datatable .p-datatable-thead>tr.filters>th:first-child {
  padding-left: 30px;
}

table tbody tr.selected td {
  background-color: #fbd7a7;
}

tr td:hover {
  cursor: pointer;
}

.form-control {
  border: 1px solid #afb1b3;
}

@media (max-width: 700px) {
  p-table.table table {
      overflow-x: auto;
      width: 100%;
      display: block;
      position: relative;
  }
}

@media (max-width: 600px) {
  p-table.table table th,
  p-table.table table td {
      white-space: nowrap;
  }
  .p-datatable .table .thead th,
  .p-datatable .table .thead th,
  .p-datatable .thead th,
  .p-datatable .thead th,
  .table .thead th,
  .table .thead th {
      position: static;
      top: 0;
      z-index: 0;
  }
  .p-datatable .p-datatable-tbody>tr>td.actions-column {
      position: sticky;
      right: 0;
  }
  .header__logo img {
      margin-left: 8vw;
  }
}

p-dropdown .p-dropdown,
.p-dropdown,
p-inputmask,
p-inputnumber,
p-inputmask .p-inputnumber,
p-inputnumber .p-inputnumber {
  width: 100%;
}

p-inputmask input,
.p-inputtext {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #afb1b3;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: 'Regular';
}

.list-delete ul {
  list-style-position: inside;
  padding: 0px 3vw;
  margin: 5px 0px 30px;
}

button.btn.btn-addLinha {
  background-color: #1d2735;
  color: #fff;
  font-family: 'Light';
  font-size: 15px;
  font-weight: 100;
}

label,
p,
input,
select {
  color: #1b1f24;
}

p-dropdown .p-dropdown,
.p-dropdown {
  display: flex;
}

p-dropdown {
  display: flex;
}

.select__item {
  display: flex;
  align-items: center;
  /* border: 1px #464748 solid; */
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 5px 0 5px;
}

.select__item-left.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9px;
  background: #b37c34;
  color: #fff;
  max-height: 30px;
  height: 100%;
  min-width: 30px;
  margin-right: 11px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0px 15px;
}

.select__item-right {
  width: 100%;
}

.selecte__item-cidade {
  font-size: 12px;
  margin: 0;
}

.select__item-title {
  line-height: 1.1;
}

.select__item-subtitle {
  line-height: 1;
}

.selected__item {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.selected__item .select__item-right {
  display: flex;
  align-items: center;
}

.selected__item .select__item-left.flag {
  height: 100%;
  background: #3fa03f;
}

span.text-yellow {
  color: #f19c2d;
}

.text-bold {
  font-family: 'SemiBold';
}

.p-progressbar .p-progressbar-value.p-progressbar-value-animate {
  background: #b37c34;
}

.p-progressbar {
  height: 8px;
  overflow: visible!important;
}

.p-progressbar-determinate .p-progressbar-label {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: auto!important;
  height: auto!important;
  transform: translateY(-103%);
  color: #1d2735;
}
